<div class="container-brands">
  <div class="box-text">
    <h5>AS <strong>MELHORES</strong> MARCAS</h5>
    <p class="text-brands">
      it is a long established fact that a reader will be distracted by the
      readable
    </p>
  </div>
  <div class="box-brands">
    <div class="arrow-left">
      <img
        class="img-brands"
        src="assets/img/arrowBlueL.png"
        alt="seta esquerda"
      />
    </div>
    <div>
      <img class="img-brands" src="assets/img/surface1.png" alt="Marca AKG" />
    </div>
    <div>
      <img class="img-brands" src="assets/img/roland.png" alt="Marca Roland" />
    </div>
    <div>
      <img class="img-brands" src="assets/img/boss.png" alt="Marca boss" />
    </div>
    <div>
      <img class="img-brands" src="assets/img/shure.png" alt="Marca shure" />
    </div>
    <div class="arrow-right">
      <img
        class="img-brands"
        src="assets/img/arrowBlueR.png"
        alt="seta direita"
      />
    </div>
  </div>
</div>
