<section class="footer">
    <div id="first-footer">
        <h6>INSTITUCIONAL</h6>
        <a href="">QUEM SOMOS</a>
        <a href="">NOSSAS LOJAS</a>

        <h6>ATENDIMENTO</h6>
        <a href="">FALE CONOSCO</a>
        <a href="">VENDA@SNINJASOM.COM.BR</a>
    </div>

    <div id="first-footer">
        <h6>AJUDA E SUPORTE</h6>
            <a href="">POLÍTICA DE PRIVACIDADE</a>
            <a href="">POLÍTICA DE TROCA</a>
            <a href="">PRAZOS DE ENTREGA</a>
            <a href="">TERMOS DE USO</a>
            
            <div class="icons-redes">
            <img src="assets/img/iconInsta.png" alt="Instagram" />
            <img src="assets/img/iconTwitter.png" alt="Twitter" />
            <img src="assets/img/iconFace.png" alt="Facebook" />
            </div>
    </div>

    <div id="first-footer">
        <h6>FORMAS DE PAGAMENTO</h6>

            <div class="box-form-of-payment">
                <img src="assets/img/visa.png" alt="Visa" />
                <img src="assets/img/master.png" alt="Master"/>
                <img src="assets/img/american.png" alt="American"/>
                <img src="assets/img/bandeira.png" alt="Bandeira"/>
                <img src="assets/img/boleto.png" alt="Boleto"/>
            </div>

        <h6>SEGURANÇA</h6>
            <img src="assets/img/secured.png" alt="Secured"/>
            <img src="assets/img/vtex2.png" alt="vtex"/>
    </div>

    <div className="footer-news">

        <div className="box-news">
            <span class="one">ASSINE NOSSO <strong>NEWSLETTER</strong></span>
            <span class="two"> E RECEBA NOVIDADES E PROMOÇÕES</span>
            
            <div class="box-input">
                <input class="input-name" placeholder="SEU NOME"/>
                <hr>
            </div>

            <div class="box-input">
                <input class="input-email" placeholder="SEU E-MAIL"/>
                <hr>
            </div>

            <div class="box-bt">
                <button>ENVIAR</button>
            </div>
        </div>
    </div>
</section>
