<section class="footer">
    <div class="box-footer">
    <div id="first-footer">
        <h6>INSTITUCIONAL</h6>
        <a href="">QUEM SOMOS</a>
        <a href="">NOSSAS LOJAS</a>

        <h6>ATENDIMENTO</h6>
        <a href="">FALE CONOSCO</a>
        <a href="">VENDA@SNINJASOM.COM.BR</a>
    </div>

    <div id="first-footer">
        <h6>AJUDA E SUPORTE</h6>
            <a href="">POLÍTICA DE PRIVACIDADE</a>
            <a href="">POLÍTICA DE TROCA</a>
            <a href="">PRAZOS DE ENTREGA</a>
            <a href="">TERMOS DE USO</a>
            
            <div class="icons-redes">
            <img src="assets/img/iconInsta.png" alt="Instagram" />
            <img src="assets/img/iconTwitter.png" alt="Twitter" />
            <img src="assets/img/iconFace.png" alt="Facebook" />
            </div>
    </div>

    <div id="first-footer">
        <h6>FORMAS DE PAGAMENTO</h6>

            <div class="box-form-of-payment">
                <img src="assets/img/visa.png" alt="Visa" />
                <img src="assets/img/master.png" alt="Master"/>
                <img src="assets/img/american.png" alt="American"/>
                <img src="assets/img/bandeira.png" alt="Bandeira"/>
                <img src="assets/img/boleto.png" alt="Boleto"/>
            </div>

        <h6>SEGURANÇA</h6>
            <img src="assets/img/secured.png" alt="Secured"/>
            <img src="assets/img/vtex2.jpeg" alt="vtex"/>
    </div>

    <div class="footer-news">

        <div class="box-news">
            <span class="one">ASSINE NOSSO <strong>NEWSLETTER</strong></span>
            <span class="two"> E RECEBA NOVIDADES E PROMOÇÕES</span>
            
            <div id="box-input">
                <input class="input-name" placeholder="SEU NOME"/>
                <hr>
            </div>

            <div id="box-input">
                <input class="input-email" placeholder="SEU E-MAIL"/>
                <hr>
            </div>

            <div class="box-bt">
                <button>ENVIAR</button>
            </div>
        </div>
    </div>
 </div>
</section>

<section class="footer-two">
    <div class="footer-with">
        <div class="box-with">
            <p class="p-box-with">
                NINJA SOM COMÉRCIO DE ELETRÔNICOS LTDA-2012-2019. Todos os direitos reservados Rua Santa
                Ifigenia.556 560/562/564 - Santa Efigenia - CEP 01.207-000 São Paulo / SP - CNPJ 07.282.516/0001-15
            </p>
            <div class="img-box-with">
                <img class="img-econverse" src="assets/img/econverse.png" alt="logo" />
                <img src="assets/img/vtex.png" alt="logo vtex" />
            </div>
        </div>
    </div>
</section>
