<main>
    <section class="container-one">
        <div class="forget-fig">
            <img class="arrow_l" src="assets/img/left.png" alt="seta esquerda" />
            <img class="arrow_r" src="assets/img/right.png" alt="seta direita" />
            <img src="assets/img/banner.png" alt="banner" />
        <div class="text-fig">
                <span>NOVOS PRODUTOS</span>
                <strong>INSTRUMENTOS</strong>
                <h2>PROFISSIONAIS</h2>
                <div class="btn-fig">
                    <a class="btn-c" href="">CONFIRA</a>
                </div>
            </div>
        </div>

        <div class="btn-five">
            <ul>
                <li> <button id="click"></button> </li>
                <li> <button id="click"></button> </li>
                <li> <button class="click_white"></button> </li>
                <li> <button id="click"></button> </li>
                <li> <button id="click"></button> </li>
            </ul>
        </div>

    </section>
    <section class="container-two">
        <div class="products">
            <div class="guitar">
                <img src="assets/img/guitarra.png" alt="guitarra" />
                <h3>GUITARRAS</h3>
            </div>
            <div class="micro">
                <img src="assets/img/microfone.png" alt="microfone" />
                <h3>MICROFONES</h3>
            </div>
            <div class="table">
                <img src="assets/img/mesaDeSom.png" alt="MesaDeSom" />
                <h3>MESA DE SOM</h3>
            </div>
            <div class="keyboard">
                <img src="assets/img/teclado.png" alt="teclado" />
                <h3>TECLADOS</h3>
            </div>
            <div class="guitar-v">
                <img src="assets/img/violao.png" alt="violao"/>
                <h3>VIOLÃO</h3>
            </div>
            <div class="drums">
                <img src="assets/img/bateria.png" alt="baterias" />
                <h3>BATERIAS</h3>
            </div>
        </div>
    </section>

<section class="container-three">
    <div class="audio">
        <div class="container-img">
            <img src="assets/img/dj.png" alt="DJ" />
        </div>
        <div class="container-audio">
            <h6>NOVIDADES</h6>
            <hr>
            <strong>ÁUDIO</strong>
            <h1>PROFISSIONAL</h1>
            <a class="btn-c">CONFIRA</a>
        </div>
    </div>

    <div class="instrument">
        <div class="container-img-I">
            <img src="assets/img/tocandoGuitarra.png" alt="Tocando Guitarra" />
        </div>
        <div class="container-instrument">
            <h6>NOVIDADES</h6>
            <hr>
            <strong>INSTRUMENTOS</strong>
            <h1>MUSICAIS</h1>
            <a>CONFIRA</a>
        </div>
    </div>
</section>

</main>
