<main>
    
    <div clas="text-store">
        <h3>INSTRUMENTOS 
            <strong>DESTAQUE</strong>
        </h3>
        <p>it is a long established fact that a reader 
            will be distracted by the readable</p>          
        </div>
        
    <section class="store-one">
     <div id="items">
        <div id="products">
            <img src="assets/img/bateriaEletrica.png" alt="Bateria Eletrica" />
            <h4>Bateria Eeletrônica</h4>
            <p>Many desktop publishing packages
                and web page editors now Many</p>
            <h3>R$ 1499,90</h3>
        </div>
        <div id="products">
            <img src="assets/img/kitDePratos.png" alt="Kit de Pratos" />
            <h4>Kits de Pratos</h4>
            <p>Many desktop publishing packages
                and web page editors now Many</p>
            <h3>R$ 1499,90</h3>
        </div>
        <div id="products">
            <img src="assets/img/Pedal.png" alt="Kit de Pratos" />
            <h4>Pedal Duplo para Banho</h4>
            <p>Many desktop publishing packages
                and web page editors now Many</p>
            <h3>R$ 1499,90</h3>
        </div>
        <div id="products">
            <img src="assets/img/telefone.png" alt="Telefone" />
            <h4>Módulo para Bateria</h4>
            <p>Many desktop publishing packages
                and web page editors now Many</p>
            <h3>R$ 1499,90</h3>
        </div>
      </div>
    </section>

    <section class="store-two">     
        <div id="items">
            <div id="products">
                <img src="assets/img/prato17.png" alt="prato17" />
                <h4>Prato 17" Medium Crash</h4>
                <p>Many desktop publishing packages
                    and web page editors now Many</p>
                <h3>R$ 1499,90</h3>
            </div>
            <div id="products">
                <img src="assets/img/kitbag.png" alt="Kit de bag" />
                <h4>Kit Bag para Tambores</h4>
                <p>Many desktop publishing packages
                    and web page editors now Many</p>
                <h3>R$ 1499,90</h3>
            </div>
            <div id="products">
                <img src="assets/img/Banco.png" alt="Banco para bateria" />
                <h4>Banco de Baterias</h4>
                <p>Many desktop publishing packages
                    and web page editors now Many</p>
                <h3>R$ 1499,90</h3>
            </div>
            <div id="products">
                <img src="assets/img/Pedestal.png" alt="Pedestal" />
                <h4>Pedestal para Percussão</h4>
                <p>Many desktop publishing packages
                    and web page editors now Many</p>
                <h3>R$ 1499,90</h3>
            </div>
           
        </div>
    </section>
    <div class="span-bt">
        <h2>VER MAIS</h2>
    </div>
</main>
