.container-store{
    text-align: center;
}

.container-box{
    max-width: 1002px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    align-items: center;
}

.store-one{
    display: flex;
    
    margin-bottom: 25px;
}

.h-text-store {
    font-weight: 500;
    font-family: 'Lato' , sans-serif;
    font-size: 25px;
    color: #041E50;
    margin: 3px;    
 }

.p-text-store { 
    font-size: 16px;
}

.text-store strong{
    font-weight: 800;
    font-family: 'Lato';
    font-size: 25px;
    color:#041E50;
    margin-left: 8px;
}

.item-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px;
}

h3{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:#041E50;
    margin: 3px;
}

h4{
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color:#041E50;
    margin: 2px;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color:#041E50;
    text-align: center;
    margin-bottom: 12px;
}

strong {
    font-weight: 800;
    font-family: 'Lato';
    font-size: 25px;
    color:#041E50;
    margin-left: 8px;
}

.text-store p{
    font-family: 'Lato';
    font-size: 16px;
}

#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 30px 0px;
    width: 22%;
    justify-content: center;
    transition: .34s all ease;
}

.span-bt {
    border: 1px solid #041e506e;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 13px;
    color:#041E50;
    padding: 9px 30px 9px 30px;
    background-color: white;
    cursor: pointer;
}

