<section class="first-top">
  <div>
    <img src="assets/img/lock-1.png" alt="cadeado"/>
    <span>COMPRA 100% SEGURA  |</span>
  </div>
  <div>
    <img src="assets/img/arrow.png" alt='setas'/>
      <span>1ª TROCA GRÁTIS</span>
  </div>
  <div>
    <img src="assets/img/001-percentage.png" alt='porcentagem'/>
    <span>5X SEM JUROS</span>
  </div>
  <div>
    <img src="assets/img/002-delivery-truck.png" alt='setas'/>
    <span>ENTREGAS EM TODO O BRASIL</span>
  </div>
</section>
<section class="second-top">
  <div>
    <img src="assets/img/logo.png" alt="logo" />
  </div>
  <div>
    <img src="assets/img/ativo-9.png" alt="lupa" />
    
  </div>
  <div>
    <img src="assets/img/whatsapp.svg" alt="whatsapp" />
    <span>(11) 99999-9999</span>
  </div>
  <div>
    <img src="assets/img/avatar.png" alt="usuario" />
    <span>OLÁ, VISITANTE </span>
    <img src="assets/img/poligono.png" alt="poligono" />
  </div>
  <div>
    <img src="assets/img/bag.png" alt="mala" />
    <span>SEU CARRINHO</span>
    <span> 0 item (s) </span>
    
  </div>

</section>


<router-outlet></router-outlet>